/* Remove default bullets */
  ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  .caret::before {
    font-family: 'Material Design Icons';
    content: "\F024B"; /* Icône de dossier fermé */
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    content: "\F0770"; /* Icône de dossier ouvert */
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }