body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #2c3e50;
}
.navbar a {
    color: white !important;
}
.navbar a:hover {
    color: #1abc9c !important;
}
/* Header */
.header-logo {
    max-height: 90px;
}
.hero {
    background-color: #34495e;
    color: white;
    padding: 80px 20px;
    text-align: center;
}
.hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.hero p {
    font-size: 1.2rem;
}

.btn_connexion{
    border: 1px solid #1abc9c;
    background-color: #34495e;
    /* border: none; */
    color: #1abc9c;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.btn_connexion:hover {
    background-color: #1abc9c;
    /* border: none; */
    color:white;
}

.btn_connexion-modal{
    border: 1px solid #1abc9c;
    background-color: white;
    /* border: none; */
    color: #1abc9c;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.btn_connexion-modal:hover {
    background-color: #1abc9c;
    /* border: none; */
    color:white;
}


/* Features */
.features {
    padding: 50px 20px;
    background-color: #ecf0f1;
}
.feature-card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.feature-card h4 {
    color: #2c3e50;
}
.feature-card p {
    color: #7f8c8d;
}
.feature-card.appear {
    opacity: 1;
    transform: translateY(0);
}
/* Footer */
.footer {
    align-items: end;
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
}
.footer h5 {
    color: #1abc9c;
}
.footer a {
    color: #1abc9c;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .separator {
    border-top: 1px solid #7f8c8d;
    margin: 20px 0;
}
.footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* login css */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.login-container {
    max-width: 400px;
    padding: 30px 20px; /* 30px haut/bas, 20px gauche/droite */
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_login {
    border: 2px solid #005f4d;
    background-color: rgba(255, 255, 255, 0.75);
    color: #005f4d;
}

.btn_login:hover {
    background-color: #005f4d;
    color: white;
}

.footer_login {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Login fin */